/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* regole generali */

a{
    text-decoration: none;
    color: #ffff;
    padding: 10px 10px 10px 0;
}
li{
    list-style: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background-color: rgb(226, 126, 64);
  
}
.container-header{
    padding:15px 0;
}
.container-top{
    display: flex;
    justify-content: space-between;
}
.container-top > *{
    width: calc( 100% / 3);
} 
.logo-header{
    text-align: center;
    width: 150px;
}
.nav-header{
    display: flex;
    align-items: center;
}
.icon-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* inizio main */

.container-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-main > div{
    width: 32%;
    position:relative;
}
.container-main div img{
    width: 100%;
}
.img1b{
    display: none;
}
.img-hover:hover .img1{
    display: none;
}
.img-hover:hover .img1b {
    display: block;
}

.heart{
    position: absolute;
    top: 10px;
    right:0;
    background-color: #fff;
    font-size: 30px;
    width: 40px;
    text-align: center;
}

.discount-item{
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 0;
}
.discount{
    background-color: red;
    color:#ffff;
    text-align: center;
}
.price-old{
    text-decoration: line-through;
}
.discount-red{
    color: red;
}
.sost{
    background-color: green;
    color: #ffff;
    text-align: center;
    margin-left: 5px;
}
.container-big >span{
    font-size: 12px;
}
.container-big{
    margin-top: 40px;
}

/* footer */
footer{
    padding:20px 0 30px 0;
    background-color: black;
    margin-top: 30px;
}
.items-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content-left-footer > span{
    font-size: 20px;
    font-weight: 700;
}
#content-right-footer{
    text-align: right;
}
.icon-footer{
    font-size: 20px;
}
#content-right-footer h5{
    padding-right: 0px;
    font-size: 16px;
    padding: 10px;
}
.color-white{
    color: white;
}


